<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
        <h1>AÇIKLAMALAR</h1>
        <br />
        <h3>Kullanilan Teknolojiler & Kütüphaneler</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Thymeleaf</li>
            <li class="list-group-item">Java 17</li>
            <li class="list-group-item">Spring Boot 2.7.3</li>
            <li class="list-group-item">opencsv</li>
            <li class="list-group-item">Lombok</li>
        </ul>
        <br>
        <h3>Yapılanlar</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Verilen bir csv file dosyasını okuma</li>
            <li class="list-group-item">Ayni id'li projede calismis kisilerin kesişim tarihlerini gün sayısı olarak bulma</li>
            <li class="list-group-item">NULL değer girilebilme</li>
        </ul>
        <br>
        <h3>Proje Gereksinimindeki Eksikler</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Farklı Date Formatlarının Girilebilmesi</li>
        </ul>
        <br>
        <h3>Aşağıdaki Maddeleri Yapabilirdim</h3>
        <br>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Sadece Master Branch'ta çalışmak yerine temiz commit mesajlarıyla farklı branchlarda çalışmak</li>
            <li class="list-group-item">Yanlış CSV input girdilerine önlem olarak Global Exception Handling</li>
            <li class="list-group-item">Spring Batch Kullanımı</li>
            <li class="list-group-item">Ön Yüz için Javascript Frameworkü</li>
            <li class="list-group-item">Aynı anda birden fazla CSV file okunması</li>
            <li class="list-group-item">Test</li>
        </ul>
    <br>
    <h3>Yararlandığım Kaynaklar</h3>
    <br>
    <div class="list-group">
        <a href="https://stackoverflow.com/questions/58070607/how-to-set-a-button-onclick-event-and-link-to-thymeleaf-controller" class="list-group-item list-group-item-action">Kaynak 1</a>
        <a href="https://www.codegrepper.com/code-examples/java/find+max+value+in+hashmap+java+8" class="list-group-item list-group-item-action list-group-item-primary">Kaynak 2</a>
        <a href="https://howtodoinjava.com/spring-batch/flatfileitemreader-read-csv-example/#read" class="list-group-item list-group-item-action list-group-item-secondary">Kaynak 3</a>
        <a href="https://attacomsian.com/blog/spring-boot-upload-parse-csv-file" class="list-group-item list-group-item-action list-group-item-success">Kaynak 4</a>
    </div>
</div>

</body>
</html>